# ============================================================
#  requirements.txt
#  Backend: Smart City Dashboard
#  Cài đặt: pip install -r requirements.txt
# ============================================================

fastapi==0.111.0
uvicorn[standard]==0.29.0
paho-mqtt==1.6.1
pydantic==2.7.1
