# Môi trường ảo Python
venv/
.venv/
ENV/

# Python cache & compiler files
__pycache__/
*.pyc
*.pyo
*.pyd

# Cơ sở dữ liệu SQLite cục bộ (Không đẩy lên vì sẽ tự tạo mới khi chạy)
smartcity.db

# Cấu hình của trình soạn thảo code (VS Code, PyCharm)
.vscode/
.idea/
.DS_Store

# Các tài liệu nháp tạm thời
*.tmp
*.log
